<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/CSS/draftRoom.css">
</head>
<!--Hidden elements-->
    <p id="activeTeams">{{activeTeams}}</p>
    <p id="draftOrder">{{draftOrder}}</p>
<body>
    <div id="banner">
        <h1 id="title">2024 NFL Draft</h1>
    </div>
    <div id="mainContainer">
        <div id="Picks">
        </div>
        <div id="Prospects">
            <div class="prospect"></div>
        </div>
    </div>





    <script src="/static/JS/draftRoom.js"></script>
</body>