<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/CSS/draftRoom.css">
    <title>2024 Draft Sim</title>
</head>
<!--Hidden elements-->
    <p id="activeTeams" class="hide">{{activeTeams}}</p>
    <p id="draftOrder" class="hide">{{draftOrder}}</p>
    <p id="prospectNames" class="hide">{{prospectNames}}</p>
    <p id="prospectColleges" class="hide">{{prospectColleges}}</p>
    <p id="prospectPositions" class="hide">{{prospectPositions}}</p>
<body>
    <div id="banner">
        <h1 id="title">2024 NFL Draft</h1>
        <button id="start">Start Draft</button>
    </div>
    <div id="mainContainer">
        <div id="Picks">
        </div>
        <div id="Prospects">
            <div class="subtitle">
                <h2>Best Remaining Prospects</h2>
            </div>
            <div id="filter">
                <label for="positions">Filter By Position:</label>
                <select name="positions" id="positions">
                    <option value="Any">Any</option>
                    <option value="QB">QB</option>
                    <option value="RB">RB</option>
                    <option value="WR">WR</option>
                    <option value="TE">TE</option>
                    <option value="OT">OT</option>
                    <option value="IOL">IOL</option>
                    <option value="C">C</option>
                    <option value="DT">DT</option>
                    <option value="DE">DE</option>
                    <option value="ILB">ILB</option>
                    <option value="OLB">OLB</option>
                    <option value="CB">CB</option>
                    <option value="S">S</option>
                </select>
                <button id="submitFilter" name="submitFilter">submit</button>
            </div>
        </div>
    </div>
    <div id="popup">
        <h2>Trade Pick</h2>
        <h4>Select new owner</h4>
        <select name="newOwner" id="newOwner">
            <option value="ARI">ARI</option>
            <option value="ATL">ATL</option>
            <option value="CAR">CAR</option>
            <option value="CHI">CHI</option>
            <option value="DAL">DAL</option>
            <option value="DET">DET</option>
            <option value="GB">GB</option>
            <option value="LAR">LAR</option>
            <option value="MIN">MIN</option>
            <option value="NO">NO</option>
            <option value="NYG">NYG</option>
            <option value="PHI">PHI</option>
            <option value="SF">SF</option>
            <option value="SEA">SEA</option>
            <option value="TB">TB</option>
            <option value="WAS">WAS</option>
            <option value="BAL">BAL</option>
            <option value="BUF">BUF</option>
            <option value="CIN">CIN</option>
            <option value="CLE">CLE</option>
            <option value="DEN">DEN</option>
            <option value="HOU">HOU</option>
            <option value="IND">IND</option>
            <option value="JAX">JAX</option>
            <option value="KC">KC</option>
            <option value="LV">LV</option>
            <option value="LAC">LAC</option>
            <option value="MIA">MIA</option>
            <option value="NE">NE</option>
            <option value="NYJ">NYJ</option>
            <option value="PIT">PIT</option>
            <option value="TEN">TEN</option>
        </select>
        <button id="tradePick">Trade Pick</button>
    </div>
    <script src="/static/JS/draftRoom.js"></script>
</body>