<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/CSS/draftRoom.css">
    <title>2024 Draft Sim</title>
</head>
<!--Hidden elements-->
    <p id="activeTeams" class="hide">{{activeTeams}}</p>
    <p id="draftOrder" class="hide">{{draftOrder}}</p>
    <p id="prospectNames" class="hide">{{prospectNames}}</p>
    <p id="prospectColleges" class="hide">{{prospectColleges}}</p>
    <p id="prospectPositions" class="hide">{{prospectPositions}}</p>
<body>
    <div id="banner">
        <h1 id="title">2024 NFL Draft</h1>
        <button id="start">Start Draft</button>
    </div>
    <div id="mainContainer">
        <div id="Picks">
        </div>
        <div id="Prospects">
            <div class="subtitle">
                <h2>Best Remaining Prospects</h2>
            </div>
            <div id="filter">
                <label for="positions">Filter By Position:</label>
                <select name="positions" id="positions">
                    <option value="Any">Any</option>
                    <option value="QB">QB</option>
                    <option value="RB">RB</option>
                    <option value="WR">WR</option>
                    <option value="TE">TE</option>
                    <option value="OT">OT</option>
                    <option value="IOL">IOL</option>
                    <option value="C">C</option>
                    <option value="DT">DT</option>
                    <option value="DE">DE</option>
                    <option value="ILB">ILB</option>
                    <option value="OLB">OLB</option>
                    <option value="CB">CB</option>
                    <option value="S">S</option>
                </select>
                <button id="submitFilter" name="submitFilter">submit</button>
            </div>
        </div>
    </div>
    <script src="/static/JS/draftRoom.js"></script>
</body>