<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href="/static/CSS/draftYearTemplate.css">
        <title>{% block title %}#### NFL Draft{% endblock %}</title>
    </head>
    <body>
        <h1 id="title">{% block year %}YEAR{% endblock %} NFL Draft</h1>
        <h3 id="subtitle">Select Team(s)</h3>
        <div id="buttons">
            <button id="selectAll">Select All</button>
            <button id="deselectAll">Deselect All</button>
        </div>
        <div id="team-selector">
            <button id="ARI" class="teamButton"><p class="shortName">ARI</p><img class='logo' src='/static/img/NFL/ARI.webp'></button>
            <button id="ATL" class="teamButton"><p class="shortName">ATL</p><img class='logo' src='/static/img/NFL/ATL.webp'></button>
            <button id="CAR" class="teamButton"><p class="shortName">CAR</p><img class='logo' src='/static/img/NFL/CAR.webp'></button>
            <button id="CHI" class="teamButton"><p class="shortName">CHI</p><img class='logo' src='/static/img/NFL/CHI.webp'></button>
            <button id="DAL" class="teamButton"><p class="shortName">DAL</p><img class='logo' src='/static/img/NFL/DAL.webp'></button>
            <button id="DET" class="teamButton"><p class="shortName">DET</p><img class='logo' src='/static/img/NFL/DET.webp'></button>
            <button id="GB" class="teamButton"><p class="shortName">GB</p><img class='logo' src='/static/img/NFL/GB.webp'></button>
            <button id="LAR" class="teamButton"><p class="shortName">LAR</p><img class='logo' src='/static/img/NFL/LAR.webp'></button>
            <button id="MIN" class="teamButton"><p class="shortName">MIN</p><img class='logo' src='/static/img/NFL/MIN.webp'></button>
            <button id="NO" class="teamButton"><p class="shortName">NO</p><img class='logo' src='/static/img/NFL/NO.webp'></button>
            <button id="NYG" class="teamButton"><p class="shortName">NYG</p><img class='logo' src='/static/img/NFL/NYG.webp'></button>
            <button id="PHI" class="teamButton"><p class="shortName">PHI</p><img class='logo' src='/static/img/NFL/PHI.webp'></button>
            <button id="SF" class="teamButton"><p class="shortName">SF</p><img class='logo' src='/static/img/NFL/SF.webp'></button>
            <button id="SEA" class="teamButton"><p class="shortName">SEA</p><img class='logo' src='/static/img/NFL/SEA.webp'></button>
            <button id="TB" class="teamButton"><p class="shortName">TB</p><img class='logo' src='/static/img/NFL/TB.webp'></button>
            <button id="WAS" class="teamButton"><p class="shortName">WAS</p><img class='logo' src='/static/img/NFL/WAS.webp'></button>

            <button id="BAL" class="teamButton"><p class="shortName">BAL</p><img class='logo' src='/static/img/NFL/BAL.webp'></button>
            <button id="BUF" class="teamButton"><p class="shortName">BUF</p><img class='logo' src='/static/img/NFL/BUF.webp'></button>
            <button id="CIN" class="teamButton"><p class="shortName">CIN</p><img class='logo' src='/static/img/NFL/CIN.webp'></button>
            <button id="CLE" class="teamButton"><p class="shortName">CLE</p><img class='logo' src='/static/img/NFL/CLE.webp'></button>
            <button id="DEN" class="teamButton"><p class="shortName">DEN</p><img class='logo' src='/static/img/NFL/DEN.webp'></button>
            <button id="HOU" class="teamButton"><p class="shortName">HOU</p><img class='logo' src='/static/img/NFL/HOU.webp'></button>
            <button id="IND" class="teamButton"><p class="shortName">IND</p><img class='logo' src='/static/img/NFL/IND.webp'></button>
            <button id="JAX" class="teamButton"><p class="shortName">JAX</p><img class='logo' src='/static/img/NFL/JAX.webp'></button>
            <button id="KC" class="teamButton"><p class="shortName">KC</p><img class='logo' src='/static/img/NFL/KC.webp'></button>
            <button id="LV" class="teamButton"><p class="shortName">LV</p><img class='logo' src='/static/img/NFL/LV.webp'></button>
            <button id="LAC" class="teamButton"><p class="shortName">LAC</p><img class='logo' src='/static/img/NFL/LAC.webp'></button>
            <button id="MIA" class="teamButton"><p class="shortName">MIA</p><img class='logo' src='/static/img/NFL/MIA.webp'></button>
            <button id="NE" class="teamButton"><p class="shortName">NE</p><img class='logo' src='/static/img/NFL/NE.webp'></button>
            <button id="NYJ" class="teamButton"><p class="shortName">NYJ</p><img class='logo' src='/static/img/NFL/NYJ.webp'></button>
            <button id="PIT" class="teamButton"><p class="shortName">PIT</p><img class='logo' src='/static/img/NFL/PIT.webp'></button>
            <button id="TEN" class="teamButton"><p class="shortName">TEN</p><img class='logo' src='/static/img/NFL/TEN.webp'></button>
        </div>
        <div id="continueContainer">
            <form method="post" action="/2024Draft/simulator">
                <input type="text" id="activeTeams" name="activeTeams" value="default">
                <button type="submit">Continue</button>
            </form>
        </div>
        <script src="/static/JS/mockDraft.js"></script>
    </body>
</html>