<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/CSS/draftResults.css">
    </head>
    <h1 id="draftResults" class="hide">{{draftResults}}</h1> <!--Hidden element-->
    <body>
        <div id="banner">
            <h1>2024 NFL Mock Draft</h1>
        </div>
        <div id="mainBox">
            <div class="halfBox"></div>
            <div class="halfBox"></div>
        </div>
        <div id="footer">
            <button id="backToHome">Back to home</button>
        </div>
        <script src="/static/JS/draftResults.js"></script>
    </body>
</html>