<!DOCTYPE html>
<html>
    <head>
        <title>NFL Draft Simulator</title>
        <link rel="stylesheet" href="/static/CSS/home.css">
    </head>
    <body>
        <div id="title-container">
            <h1>NFL Draft Simulator</h1>
        </div>
        <div id="logo-container">
            <img id="nfl-logo" src="/static/img/nfl-logo.png">
        </div>
        <div id="buttons-container">
            <button class="yearButton" id="2024">2024</button>
        </div>
        <script src="/static/JS/home.js"></script>
    </body>
</html>